<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/new">Add a new message</a>
    <div>
      <% messages.forEach((message) => { %>
      <h2><%= message.text %></h2>
      <p>-<%= message.user %> <span>(<%= message.added %>)</span></p>
      <% }) %>
    </div>
  </body>
</html>
